{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/9.6.1/firebase-auth.js"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/9.6.1/firebase-database.js"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/9.6.1/firebase-storage.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'custom.css'%}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap" rel="stylesheet">
</head>

<body id="Login_body">
    <div class="container-main mt-5">
        <div class="container container-title d-flex justify-content-center col-sm-11 col-10">
            <div class="d-flex flex-column align-items-center">
                <span class="display-6 header-title">Horizon</span>
                <span class="header-captions my-0 py-0">Your movie destination</span>
            </div>
        </div>
    </div>

    <div class="main-section-container">
        <div class="container-form container d-flex justify-content-center mt-5">
            <div class="form d-flex flex-column justify-content-center align-items-center">
                <span class="title-login">LOGIN</span>

                <div class="d-flex flex-column container-form-details align-items-center">
                    <div class="input-group input-field-details d-flex justify-content-center">
                        <input id="ipt_email" class="text-white col-10 text-center input-field-details" type="text"
                            value="sriramachandrian02@gmail.com" placeholder="Username"
                            style="background-color: #1A201C; border: none; outline: none;">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="bi bi-person-fill"></i>
                        </div>
                    </div>
                    <div class="input-group input-field-details d-flex justify-content-center">
                        <input id="ipt_password" class="text-white col-10 text-center input-field-details"
                            type="password" value="123456789" placeholder="Password"
                            style="background-color: #1A201C; border: none; outline: none;">
                        <div class="d-flex justify-content-center align-items-center">
                            <i class="bi bi-eye-fill col-2"></i>
                        </div>
                    </div>

                    <!-- <div class="input-group">
                                <input type="password" id="password"  class="text-white form-control rounded-right" required>
                                <button id="toggle-password" type="button" class="d-none"
                                  aria-label="Show password as plain text. Warning: this will display your password on the screen.">
                                </button>
                              </div> -->
                    <div class="row" id="div-alert-login">
                        <p style="color: crimson; font-size: 10px;">Please Enter All the details</p>
                    </div>
                    <Button id="btn_submit" class="btn-submit" style="width: 250px;" data-url="{% url 'profile' %}">Sign in</Button>
                    <div class="row">
                        <p class="features">
                            <span id="feature-forgot-password" class="feature"><a href="#">Forgot
                                    Password</a></span>
                            <span class="feature">|</span>
                            <span id="feature-forgot-password" class="feature"><a href="{% url 'register' %}">Sign
                                    up</a></span>
                        </p>
                    </div>

                </div>


            </div>

        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="{% static 'index.js'%}"></script>
    <script src="{% static 'firebase.js'%}" type="module"></script>
    <script src="{% static 'login.js' %}"></script>
</body>

</html>